.masterCols
{
    position: relative;
    top: 0px;
}

  .leftHomepageTout
 {
    float: none;
 }
 
 .searchResultsSearch
 {
    margin-top: 0px;
 }
 .dailyFeaturesContainer
 {
     display: inline-block;
 }