body 
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
}
h2
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: bold;
}
h3
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
}
h4
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
}
.clubs
{
	width: 150px;
	padding: 10px;
}
.delivery
{
	font-size: 12px;
}
hr 
{
	clear: both;
}
div.title 
{
	margin-left: 210px;
}
div.txtRight 
{
	margin-left: 180px;
}
h1
{
	color: #990000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 22px;
}

a:link 
{
	color:#7b4c18;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color:  #7b4c18;
}
a:hover {
	text-decoration: none;
	color: #df601d;
}

a:active 
{
	text-decoration: none;
	color: #df601d;
}

.mailhere a:link 
{
	color:white;
	font-size:11px;
	text-decoration: none;
}
.mailhere a:visited {
	text-decoration: none;
	font-size:11px;
	color:  white;
}
.mailhere a:hover {
	text-decoration: underline; 
	color: red;
	font-size:11px;
}

.mailhere a:active 
{
	text-decoration: none;
	font-size:11px;
	color: white;
}

.head a:link 
{
	color: #FCEFC3;
	font-size:14px;
	text-decoration: none;
	background-color: #611A14;

}
.head a:visited {
	text-decoration: none;
	font-size:14px;
	color:  #FCEFC3;
	background-color: #611A14;

}
.head a:hover {
	text-decoration: none; 
	color: #611A14;
	font-size:14px;
	background-color: #FCEFC3;

}

.head a:active 
{
	text-decoration: none;
	font-size:14px;
	color: #611A14;
	background-color: #FCEFC3;
}


.errmsg
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:Red;

}
.toutshead
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style:normal;
	color: #7b4c18;
}
.featureshead
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style:normal;
	color: #7b4c18;
}
.ShoppingCarthead
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style:normal;
	color: #7b4c18;
}
.headerhead
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style:normal;
	color: #FCEFC3;
}
.pt9size
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:9px;
	font-style:normal;
}
.pt9blsize
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:9px;
	font-style:normal;
	font-weight:bold;
}
.pt10size
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-style:normal;
}
.pt10itsize
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-style:italic;
}

.pt10sizered
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #df601d;
}
.pt10sizesale
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:Red;
	font-weight:bold;
}
.pt10sizewhite
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #F7F0DD;
}
.pt11sizewhite
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #F7F0DD;
}
.pt12size
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
}
.pt12itsize
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
}

.pt12sizered
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #df601d;
}
.pt12sizesale
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:Red;
	font-weight:bold;
}
.pt12sizewhite
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #F7F0DD;
}
.pt8size
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:8px;
}
.pt8sizegray
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:8px;
	color:#666666;
}

.pt10blsize
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
}

.pt12blsize
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
}

.pt14blsize
{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
}
.maintable
{
	width: 1028px;
}
.tdmain
{
	width:98px;
	height:108px;
}
.secondtable
{
	width: 1028px;
	height: 630px;
}
.tdsecondleft
{
	width: 223px;
	vertical-align:top;
}
.tdsecondmiddle
{
	width: 625px;
	vertical-align:top;
	text-align:left;
}
.tdsecondright
{
	width: 145px;
	vertical-align:top;
	text-align:left;
}
.tdsecondmiddlesearch
{
	width: 720px;
	vertical-align:top;
	text-align:left;
}
.bottomtable
{
	width: 1028px;
}
.tdbottom
{
	width: 98px;
	height: 21px;
	vertical-align:top;
	text-align:center;
}
.dropdown
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	border-color:#eee2bc;
	border-style:solid;
	border-width:thin;
}
.dropdownrequired
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	border-color:#eee2bc;
	border-style:solid;
	border-width:thin;
	background-color:#FFFFC0;
}

.textbox
{
	border-color:#eee2bc;
	border-style:solid;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	border-width:thin;
}
.textboxrequired
{
	border-color:#eee2bc;
	border-style:solid;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	border-width:thin;
	background-color:#FFFFC0;
}
.inf_maskededit
{
	
    border-color:#eee2bc;
	border-style:solid;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	border-width:1px;
}
.inf_maskededitrequired
{
	
    border-color:#eee2bc;
	border-style:solid;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:10px;
	border-width:1px;
	background-color:#FFFFC0;
}
table.pt12size
{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
}
div.catalog
{
    margin: 5px 10px 5px 3px;
    border: solid 1px #613914;
    padding: 3px;
    background-color: #613914;
    color: #F7F0DD;
}
div.catalog:hover
{
    background-color: #F7F0DD;
    color: #613914;
    text-decoration: underline;
}
a.catalog
{
  
}
a.catalog:hover
{
    text-decoration: underline;    
    color: #F7F0DD;
}