/* BEGIN BROWSER CSS RESET STYLES
******************************************/

/* BEGIN GLOBAL ELEMENTS CSS 
******************************************/
h1, h2, h3, h4, header
{
    margin: 10px 0px;
    text-rendering: optimizelegibility
}

header h1, header h2
{
    margin-bottom: 0px;
}

p{
    margin-bottom: 1.2em;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.gutter
{
    margin-left: 20px;
}

.hide
{
    display: none;
}

input.white{
    padding: 5px;
    font-size: 1.4em;
}

input.grey, textarea.grey{
    padding: 5px;
    font-size: 1.4em;
}

input.tan{
    padding: 5px;
    font-size: 1.4em;
}    

input.btn{
    padding: 5px;
}

.section{
    margin-bottom: 40px;
}

img.dots
{
    margin: 0px 6px;
}

.block
{
    padding: 4px;
}

ul.nl
{
    list-style-type: none;
}

/* needed to offset reset */
/*.qty-picker td
{
    vertical-align: top;
}

td.ctl00_middleContent_wneQty0
{
    text-align: center;
    vertical-align: middle !important;
}
*/

.qty
{
    height: 26px;
}

.dd
{
    height: 30px;
    padding: 4px;
    text-align: right;
    vertical-align: middle;
}

    .dd option
    {
        vertical-align: middle;
    }

.wneQty
{
    width: 30px;
}

.ddType
{
    width: 88px;
}

.wneQty, .ddType
{
    float: left;
    margin-right: 6px;
}

.round
{
    -moz-border-radius: 4px;
    border-radius: 4px;
}

ul.bullets
{
    list-style: circle inside;
}

    ul.bullets li
    {
        margin-bottom: 4px;
    }

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1;
}

ul.inline li:first-child, ol.inline li:first-child
{
    padding-left: 0px;
}

.row
{
    margin-bottom: 30px;
}

dl
{
    margin-bottom: 20px;
}

dt, dd
{
    line-height: 20px;
}

dt
{
    font-weight: bold;
}

dd
{
    margin-left: 10px;
}

.dl-horizontal
{
    *zoom: 1;
}

.dl-horizontal:before, .dl-horizontal:after
{
   display: table;
   line-height: 0;
   content: "";
}

.dl-horizontal:after {
  clear: both;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  margin-left: 180px;
}

a[class*='block-hover-']
{
    display: block;
}

/* BEGIN BOOTSTRAP ELEMENTS CSS 
******************************************/
.control-group
{
    margin-bottom: 20px;
}
/* END BOOTSTRAP ELEMENTS CSS */


/* END GLOBAL ELEMENTS CSS */

/* LAYOUT STYLES
*****************************************/

body{
    margin: 0;
    padding: 0;
}

#generalSearch, #searchResult, #topTen, #booksSearch, #sakeAccessories, #featurePage, #landmarkStore, #tuesdaySale
{
    background-color: #fff;
    min-height: 700px;
    padding-bottom: 50px;
    width: 606px;
}

#orderConfirmation, #shipping, #checkOutBilling, #orderReview, #newCustBilling, #shipNewCust, #landmark-shop, #featurePage, .mainContent, #videoGallery, #myAccountPage, #myBillingInfo, #myLoginInfo, #orderHistory, #myShippingAddresses, .customPage, #newsletter, #cateringPage, #packPage, .page
{
    min-height: 800px;
}

#orderConfirmation, #shipping, #checkOutBilling, #orderReview, #newCustBilling, #shipNewCust
{
    background-color: #fff;
    padding: 0px 20px 50px 20px;
    width: 850px;
}

#landmark-shop, #featurePage, .mainContent, #videoGallery, #myAccountPage, #myBillingInfo, #myLoginInfo, #orderHistory, #myShippingAddresses, .customPage, #newsletter, #cateringPage
{
    background-color: #fff;
    width: 566px;
    padding: 10px 20px;
    padding-bottom: 50px;
}

#productPage, #searchResult
{
    float: left;
    padding: 0px 20px 20px 20px;
    width: 565px;
}

#cateringPage, #landmark-shop, .info-page, #productPage, .hub, .page
{
    background: #fff;
    padding: 40px 40px;
    width: 526px;
}
 
#homeContent
{
    background-color: rgb(255, 255, 255);
    padding-bottom: 24px;
    width: 606px;
}

#errorPage{
    width: 900px;
    padding: 30px;
    background: #fff;
}
 
 
.info-page p
{
    text-align: justify;
} 
    
.submenuheader
{
    display: block;
}

#mainHeader{
    width: 100%;
    height: 37px;
    background-image: url(../images/general/breadCrumbBackground.png);
    background-repeat: repeat-x;
    float: left;
    position: absolute;
    top: 116px;
    left: 0px;
}

#mainContainer
{
    width: 999px;
    margin: 0 auto;  
}

#savedCartMsg, #userControlPanel
{
    padding-left: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    right: 40px;
    width: 200px;    
}

#userControlPanel
{
    top: 0px;
    height: 40px;
    color: #fff;
    /* background-image: url(../images/general/shoppingCartBackground.png);
    background-repeat: no-repeat;   
    background-position: left top; */
    padding-bottom: 16px;
    padding-top: 20px; 
}

#savedCartMsg
{
    top: 76px;
    z-index: 20;
}

    #userControlPanel a:link, #savedCartMsg a:link{
        color: #fff;
    }

    #userControlPanel a:visited{
        color: #fff;
    }

.viewCart
{
    color: #724008;
    line-height: 28px;
}

.viewCart:hover
{
    text-decoration: none;
}

.userControlPanelItems{
    font-size: 10px;
    margin-left: 10px;
}

#shoppingCart span
{
    font-weight: bold;
}

#headerBackground{
    position: absolute;
    height: 116px;
    width: 100%;
}

#mainBanner
{
    position: absolute;
    width: 997px;
    height: 116px;
}

#navigationBar
{
    position: absolute; 
    top: 65px; 
    z-index: 2; 
    width: 997px;
}

#logo
{
    position: absolute;
    left: 20px;
    top:  0px;
    margin-left: 2px;
}

#logo, #userControlPanel
{
    z-index: 200;
}

#menuBar
{
    color: #fff;
    font-weight: bold;
    border: none;
    margin-bottom: -5px;
}

#breadcrumbBar
{
    height: 37px;
    border : none;
    /* Backgound bar is in #mainHeader */
    /*background-image: url(../images/general/breadCrumbBackground.png); */
    /* background-repeat: repeat-x; */
    font-size: 12px;
    /* position: relative; */
    width: 997px;
    z-index: 5;
}

#breadcrumb
{
    position: relative;
    top: 7px;
    width: 800px;
}

.toast-alert
{
    position: relative; 
    left: 250px; 
    top: -200px; 
    float: left;
    z-index: 500;
}

.toast-alert-box
{
    border-left: solid 10px #da8d2a;
    font-size: 1.2em;
    background-color: #222222;
    color: #fff;
    width: 430px; 
    padding: 20px;
}

.kiwi-alert
{
    background-image: url(../images/holiday/img_holidayShopHoursKiwi.png);
    background-repeat: no-repeat;
    height: 85px;
    width: 293px;
    left: 450px;
    padding: 15px 0px 0px 35px;
}

/*BEGIN QUICK SEARCH STYLES 
****************************************/

.quickSearchContainer
{
    display: inline-block;
    margin-top: -15px;
    float: right;
    background-image: url(../images/general/img_quickSearchBackground.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 400px;
    padding-top: 6px;
    padding-left: 9px;
    position: relative;
}

#quickSearch
{
    vertical-align: top;
    width: 386px;
}

    #quickSearch .searchButton
    {
        float: right;
        margin-top: 2px;
    }
    
    #quickSearch #imgProcess
    {
        position: absolute;
        margin-left: -50px;
    }

.watermark
{
    padding: 5px;
}

#quickSearch .watermark, #quickSearch input.white
{
    margin-top: 1px;
    border: 1px solid #aaa;
}

    /* BEGIN AUTOCOMPLETE STYLES */

    .autocomplete_completionListElement 
    {  
        background-color: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc;
        cursor: pointer;
        font-size: 14px;
        overflow: auto;
        height: auto;        
        list-style-type: none;
        margin: 0px;
        position: relative;
        z-index: 50;
    }

    .autocomplete_listItem 
    {  
        font-size: .9em;
        background-color: #fff;
        padding: 6px 4px;
        border-bottom: solid 1px #eee; 
    }

    .autocomplete_highlightedListItem
    {  
        font-size: .9em;
        background-color: #eee;
        padding: 6px 4px;
        border-bottom: solid 1px #eee; 
    }

/* END AUTOCOMPLETE STYLES */

/* END QUICK SEARCH STYLES */

/* BEGIN ADVANCED SEARCH STYLES 
****************************************************/

#advancedSearch{
    width: 200px;
    height: 580px;
}

#advancedSearchTabs{
    background-image: url(../images/general/img_advancedSearchTabBackground.gif);
    height: 38px;
    padding-left: 5px;
}

    #advancedSearchTabs li{
        list-style-type: none;
        float: left;
        text-align: center;
        width: 65px;
    }

.advancedSearchTab{
    margin-top: 4px;
    }

    #advancedSearchTabs a:hover{ 
        color: #fff;
    }

    #advancedSearchTabs a.selected{ 
        display: block;
        color: #fff;
        margin-top: -4px;
        padding-top: 4px; 
        height: 48px;
        width: 68px;
        background-image: url(../images/general/advancedSearchTabsSelected.png);
        background-repeat: no-repeat;
    }
    
    .searchPanel
    {
        width: 200px;
        height: 550px;
        font-size: 12px;
        padding-left: 7px;
        background-color: #e6e2d1;
        background-image: url(../images/general/searchPanelBackground.png);
        background-repeat: repeat-y; 
        margin-bottom: 0px;
    }
    
        .searchPanel a 
        {
            color: #E54800;
        }
    
        .searchPanel a:hover
        {
            text-decoration: underline;
        }
                
        .searchPanel .btnSearch
        {
            margin-left: -19px;
            margin-top: 4px;
        }
        
        .search-dropdown{
            border: none;
            padding: 2px;
            margin-top: 8px;
            margin-bottom: 0px !important;
        }
    
/* END ADVANCED SEARCH STYLES */

#mainBody{
    position: relative; 
    top: 143px; 
    width: 999px;
}

.no-column-master{
    position: relative;
    top: 143px;
    width: 900px;
    background-color: #fff;
    padding: 40px;
}

.open-master
{
    position: relative;
    top: 180px;
}

#myAccount
{
    position: relative;
    top: 3px;
    left: 910px;
    width: 99px;
    font-size: 14px;
}

    #myAccount a
    {
        color: #000;
    }

    #myAccount a:hover
    {
        text-decoration: none;
    }
    
#navBar
{
    width: 800px;
    margin-top: 5px;
    height: 60px;
}

    #navBar a
    {
        padding: 5px 10px;
        margin: 0;
        display: inline-block;
        margin-top: 20px;
        position: relative;
    }
        
    #navBar a:hover
    {
        /* background: url(../images/general/breadcrumb_bg.png) 0 -10px no-repeat; */
        color: #ccc;
    }

#landmarkStore h2.greenTitle
{
   color: #00a838;
}

    .browseLine
    {
        border-bottom: solid 1px #ddd;
        border-top: solid 1px #ddd;
        font-weight: normal;
        letter-spacing: .1em;
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: center;
        padding-bottom: 6px;
        padding-top: 8px;
    }
    
    .homepage-special
    {
        margin: 0 auto;
        padding: 12px;
        width: 80%;
    }
    
        .homepage-special .bottle
        {
            float: left;
            padding-right: 24px;     
        }
        
        .homepage-special h3
        {
            overflow: hidden;
        }
        
    .dailyFeature h3, .homepage-special h3, .noResults h3, h2.dotted, .mainContent h3, #landmarkStore h2, .checkout h2, #deliveryInfo h2.dotted, .accountMaintenanceSection h2, #myLoginInfo h2, #myBillingInfo h2
    {
        margin-bottom: 1em;
    }

/* BEGIN SHARED HEADERS */
#giftCards h2
{
    margin-bottom: 10px;
    line-height: 30px;
    color: #444;
    border-bottom: solid 1px #ddd;
}

#featurePage h2.featureSecondHeader
{
    font-size: 18pt;
    color: #444;
    margin-bottom: 5px;
    border-bottom: dotted 1px #ddd;
}

h4.blue{
    text-transform: uppercase;
    color: #454f60;
    font-weight: normal;
}

#featurePage p
{
    line-height: 18px;
    margin-bottom: 15px;
}

#featurePage #searchResults{
    margin-left: -20px;
}

   .tastingRow h2, .tastingRowAlt h2, .orderHistoryOrder h2, .orderHistoryOrderAlt h2
    {
        color: #444;
        margin-bottom: 2px;
        text-align: left;
    }
       
#homeContent li.section
{
    padding: 0px 12px; 
    position: relative; 
    left: 0px; 
    float: left;
    width: 172px;
}
    #homeContent .section img
    {
        margin-bottom: 12px;
    }
    
#freeTastingsContainer{
}
    
    #freeTastingsContainer .imageContainer{
        width: 98px;
        float: left;
    }
    
    #freeTastingsContainer .copyContainer{
        width: 140px;
        float: left;
        background-color: #eee;
        padding: 10px;          
    }
    
    #tastingSchedule
    {
    }    

        #tastingSchedule ul
        {
            list-style-type: none;
        }
        
        #tastingSchedule li 
        {
            border-right: 1px solid #eee;
            display: inline-block;
            min-height: 80px;
            padding: 0px 4px;
            vertical-align: top;
            width: 100px;
        }
        
        #tastingSchedule li:last
        {
            border-right: none;
        }

    #homeContent .newsletter, #homeContent .green{
        padding: 10px;
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
        clear: both;
        text-transform: uppercase;
    }
    
    .featureRotator 
    {
        width:606px;
        height: 242px;
        /*margin-left: 17px;*/
    }
    
    .homepageNote
    {
        margin: 10px auto; 
        width: 500px; 
        text-align: center; 
        letter-spacing: .1em; 
        font-size: 14px; 
        text-transform:uppercase; 
        border: dashed 1px #bbb; 
        padding: 10px;
        color: #5f191b;
    }
    
    #specialItemTout{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
        
        #specialItemTout h2{
            margin-bottom: 0px;
            line-height: 1em;
        }
        
        #specialItemTout div.subhead{
            border-top: solid 1px #ddd;
            border-bottom: solid 1px #ddd;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: .1em;
            line-height: 1.4em;
            margin-bottom: 10px;
            color: #aaa;
        }
        
        #specialItemTout .giftContainer{
            background-color: #eee;
            margin: 10px;
            padding: 10px;
            width: 256px;
            float: left;
            text-transform: uppercase;
            letter-spacing: .1em;
        }
        
            #specialItemTout .giftContainer img{
                width: 230px;
                margin-bottom: 10px;
                border: 10px solid #fff;
            }
            
            #specialItemTout .giftContainer span{
                border-top: solid 1px #ddd;
                border-bottom: solid 1px #ddd;
                padding: 2px;
            }

/* BEING DAILY FEATURES */
    .dailyFeaturesContainer
    {
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
    }

    ul.dailyFeaturesContainer li
    {
        display: inline-block;
    }


    .dailyFeature
    {   
        width: 148px;
        padding: 12px;
        font-size: 10px;
        text-align: center;
    }
        
        .dailyFeature .read-more{
            font-style: italic;
        }

        .dailyFeature div.item-name
        {
            height: 44px;
            vertical-align: middle; 
        }
    
    .dailyFeaturesCopy
    {
        height: 105px;
        overflow: hidden;
    }
    
    .dailyFeaturesPrice
    {
        clear: both;  
        border-top: dotted 1px #ddd;
        float: none;
        padding: 2px; 
        line-height: 14px;
    }
/* END DAILY FEATURES */

    h1.tabLike
    {
        font-family: Georgia;
        font-size: 14px;
        color: #fff;
        padding: 2px 0px 2px 10px;
        margin: 0px;
        background-image: url(../images/general/tab.gif);
        background-repeat: no-repeat;
    }
    
	h4.date{
	   float: left;
	   margin: 5px 7px 5px 5px;
	   padding: 4px 5px 10px 5px;
	   width: 26px;
	   border: 2px solid #D2D1C3;
	   background-color: #563E23;
       color: #fff;
	   font-size: 1.6em;
	   text-transform: uppercase;
	   text-align: center;
	   line-height: 1;
	}

	h4.date strong{
	   display: block;
	   color: #FFF;
	}
	    
    #featureTabs div 
    {
        width: 300px;
        height: 250px;
    }
    
    #astorCenter div, #tuesdays div, #tastingsTeaser div
    {
        padding: 5px;
        font-size: 12px;
    }
    
    #astorCenterEvent{
        font-size: 10px;
        line-height: 12px;
    }
        
    #astorCenterEventsImageContainer{
        width: 70px;
        float: left;
    }
    
    #astorCenterEventsLinkContainer{
        width: 75px;
        float: left;
    }
        
    div.darkBg
    {
/*        background-color: #b1aa8d; */
    }
    
    .featureImage
    {
        padding: 0px 5px 5px 2px;
        width: 72px;
        height: 142px;
    }
    
    .wrongPrice
    {
        text-decoration: line-through;
    }
    
    span.dealPrice
    {
        color: Red;
    }    
   
    .results-page .searchPageContent, #resultDesc
    {
        padding: 10px;
        text-indent: 20px;
        text-align: justify;
        color: #444;
    }
    
    .regularFont
    {
        color: #000;
    }
        
    .expanded
    {
        cursor: default;
    }
    
/* MASTER PAGE COLUMNS */
    
    #leftMasterpageColumn{
        width: 200px;
        float: left;
        margin-top: 5px;
    }
    
    #rightMasterpageColumn{
        float: left;
        background-color: #fff;
        background-image: url(../images/general/rightMasterpageColumnBackground.gif);
        background-repeat: repeat-y;
        background-position: left;
        margin-top: 20px;
        padding: 0px 5px;
        width: 160px;
    }
    
    aside.master-right
    {
        margin-top: 20px;
        padding-bottom: 20px;
        text-align: center; 
    }
    
    aside.free-shipping img
    {
        margin-bottom: 1em;
    }
        
    #mainContent, #mainContentSearchOnly{
        float: left; 
        border: none;
        position: relative;
        width: 606px; 
        z-index: 0;
    }
    
    #mainContentSearchOnly{
        width: 766px;
    }
    
    #mainContentCheckout{
        margin-left: 50px; 
    }
    
    .masterCols
    {
        position: relative;
        top: -11px;
        float: left;
    }
    
    #leftMasterpageColumn h3{
        color: #5f191b;
        margin-bottom: 6px;
    }
        
    #leftMasterpageColumn h3{
        text-align: center;    
    }
    
    #astorCenterEvents, #alertBox{
        border-bottom: 1px dotted #ddd;
        padding: 0px 5px 5px 5px;
        text-align: left;
    }
    
    #connectWithUs{
        text-align: center;
    }
    
    #mayWeSuggest{  
        width: 200px;
        line-height: 16px;
        background-image: url(../images/general/mayWeSuggestBackground.gif);
        background-repeat: repeat-y;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        /*margin-top: -5px;*/
    }
    
        #mayWeSuggest h3{
            margin-bottom: 10px;
        }
    
    #tuesdayTout{
        color: #fff;
        width: 200px;
        height: 120px;
        background-image: url(../images/general/tuesdayToutBackground.png);
        overflow: hidden;
        margin-bottom: 10px;
    }
    
    .tuesdayToutLeft{
        width: 70px;
        float: left;
        margin-top: 70px;
        padding: 5px;
        line-height: 14px;
        text-align: center;
    }
    
    .tuesdayToutRight{
        float: left;
        width: 110px;
        text-align: center;
        margin-top: 30px;
        vertical-align: middle;
        margin-left: 5px;
    }
    
    #tuesdayTout a{
        color: #fff;
    }
    .tuesday-sale-promo
    {
        /* background:#98002e;*/
        padding-top:12px;
        padding-bottom:12px;
        padding-right:6px;
        padding-left:6px;
        text-align:center;
    }
    
    .smImgTout
    {
        width: 280px;
        padding: 5px;
        background-color: #fff;
    }
    
    .sideToutLeft
    {
      padding: 5px;
      width: 195px;
      background-color: #e6e2d1;
    }
    
        .sideToutLeft a
        {
            line-height: 22px;
        }
    
    .sideImgTout
    {
        width: 195px;
        height: 100px;
        background-color: White;
        text-align: left;
    }
    
        .sideImgTout img
        {
            border: 0;
            float: left;
            margin-right: 2px;
        }
        
    .mainHeader
    {
        background-color: #563E23;
        color: #fff;
        padding: 2px 0px 2px 5px;
        margin: 0px;
        line-height: 24px;
        background-image: url(../images/holiday/bkgr_holidayHeader.jpg);
        background-repeat: repeat-x;
    }
    
/* PRODUCT PAGE */

    #productPage h1, #producer-profile h1, #packPage h1
    {
        line-height: 30px;
        padding-bottom: 0px;
        margin-bottom: 6px;
    }
    
        #productPage h1 span
        {
            color: #888;
        }
            
    #productPage h2
    {
        margin-bottom: 10px;
    }
    
    #productPage .col-notes
    {
        width: 260px; 
        float: left; 
        margin-top: 40px;
        clear: both;
    }
    
    .productTagLinks, #productPage .addToCartBtn
    {
        margin-bottom: 1em;
    }
    
    #itemSpecs
    {
        width: 100%;
    }
    
        #itemSpecs div.leftColumn, #itemSpecs div.rightColumn{
            width: 50%;
            float: left;
        }
        
    .itemDetailImages
    {
        float: left;
        margin-right: 30px; 
        width: 35%; 
    }
    
    .itemDetailMeta
    {
        float: left; 
        width: 58%; 
    }
    
    #productPage .share-container
    {
        padding: 14px;
    }
    
    #productPage .productPrice
    {
    }
    
    #productPage .pricing li
    {
        padding: .6em 0em;
        border-top: solid 1px #ccc;        
    }
    #productPage .pricing li:first-child{
        border-top: none;
    }
    
    #productPage .pricing div.price
    {
        display: inline-block;
        width: 20%;
    }

    #productPage .pricing div.save
    {
        width: 40%;
    }
    
    #productPage .productPrice .pricing, #productPage .outOfStockMsg
    {
        margin-bottom: 1em;
    }
    
    #productPage .qty-picker, #productPage .dd-item-type, #productPage .lblQty
    {
        float: left;
        font-size: 1em;
        margin-left: 5px;
    }
    
    #productPage .qty-picker, #productPage .dd-item-type
    {
        border: solid 1px #ccc;
    }
    
    #productPage .lblQty
    {
        margin-top: 5px;
    }

    #productPage .section{ 
		margin-bottom: 30px;
		width: 100%; 
    }
    
    #productPage #ubc-container
    {
    }
    
    #productPage .ubc-award
    {
        float: left;
        padding: 2px;
        width: 100px;
    }
    
    .itemDescriptionBox
    {
        font-size: 12px; 
        color: #444;
        line-height: 20px;
        text-align: justify;
    }
     
     #productPage .suggested-items{ 
		color: #563E23; 
		padding: 0px 0px 5px 0px; 
        width: 220px; 
    }
    
        #productPage .suggested-items img
        {
            height: 120px;
        }
    
    .moreLikeThisRightProductPage
	{
		float: right;
	    margin-top: 30px;
		width: 210px; 
	}
	
	#productPage .staff-pick
	{
	    margin-bottom: 30px;
	}
	
	.glossary-teaser
	{
	    margin-bottom: 2em;
	}

/* Share Container
*************************************************/    
    #sharePage span.share, #sharePage .total, #sharePage .services .value
    {
        display: none;
    }
        
    #sharePage img
    {
        width: 80px;
    }
    
    .share-container h4
    {
        margin-bottom: .2em;
    }
        
    .share-container .count
    {
        display: block;
        float: left;
        height: 50px;
        margin-top: .5em;
        width: 126px;
    }
    
    .share-container .count .label
    {
        margin-left: 50px;
        margin-top: 20px;
        vertical-align: middle;
    }
    
/* END PRODUCT PAGE STYLES */

/* BEGIN SEARCH RESULT PAGE STYLES */

    .searchResultsSearch{
        width: 205px;
        position: relative;
        margin-top: 11px;
    }

.searchResultsHeader
{
    margin-top: 20px;
}

ul.searchString
{
    margin-bottom: 1em;
}

    ul.searchString li
    {
    }
    
    ul.searchString li:after
    {
        content: " »";
    }

    ul.searchString li:first-child:after, ul.searchString li:last-child:after
    {
        content: "";
    }

#resultTable{
}

    #resultTable table
    {
        margin: 0 auto;
    }
    
    #resultTable h2{    
    }   
    
        #resultTable h2 span{
            font-size: .8em;
            font-weight: normal;
        }
        
 #searchResultsContainer
 {
     margin-top: 40px;
 }

#searchResultsContainer h2
{
    margin-bottom: 5px;
}
 
    .searchResultsCounter
    {
        padding: 5px;
        /* background-color: #eee; */
        text-align: right;
        border-bottom: solid 1px #eee;
    }
    
    .searchResultsControls
    {
        padding: 5px;
        background-color: #eee;
        text-align: right;
    }
    
    .searchResultsViewdd
    {
        float: right;
        margin-left: 20px;
    }
 
    #searchResultsContainer .itemDetailContainer{
        width: 340px;
        padding: 10px 10px 10px 0px;
    }
    
        #searchResultsContainer .itemDetailContainer .itemImageContainer{
            float: left; 
            padding-right: 5px; 
            width: 80px;
        }
    
            #searchResultsContainer .itemDetailContainer .itemImageContainer img{
                width: 72px;
            }       

        #searchResultsContainer .itemDetailContainer .itemCopyContainer{
            float: left; 
            width: 250px;
        }
        
            #searchResultsContainer .itemDetailContainer .itemLabels{
                font-size: .8em;
                margin-bottom: 10px;
            }
            
            #searchResultsContainer .itemDetailContainer .itemNumber{
                font-size: .8em;
            }
        
    #searchResultsContainer .itemPriceContainer{
        width: 150px;
        padding-left: 20px; 
        /*background-color: #efefef;*/
        border-left: solid 3px #efefef;
        height: 100%;
    }
    
    #searchResultsContainer .itemPriceContainer ul li
    {
        margin-bottom: 1em;
    }
    
        #searchResultsContainer .itemPriceContainer .wrongPrice{
            color: #888;
        }        
        
/* END SEARCH RESULT PAGE STYLES */

#slider-container{
}

#slider {
    position:relative;
    width:606px; /* Change this to your images width */
    height:242px; /* Change this to your images height */
    background:url(images/loading.gif) no-repeat 50% 50%;
}

    #slider img {
        position:absolute;
        top:0px;
        left:0px;
        display:none;
    }

    #slider a {
        border:0;
        display:block;
    }

.nivo-directionNav a{
    background-image: url(/images/general/arrows.png);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    text-indent: -9999px;
}

a.nivo-nextNav{
    background-position: -30px 0px;
    right: 20px;
}

a.nivo-prevNav{
    left: 15px;
}

.nivo-controlNav{
    position: absolute;
    left: 262px;
}

    .nivo-controlNav a{
        background-image: url(/images/general/homepageFeatureControl.png);
        background-repeat: no-repeat;
        text-indent: -9999px;
        float: left;
        margin-right: 3px;
        width: 22px;
        height: 22px;
    }
    
/* END HOMEPAGE FEATURES SLIDER STYLES */    
    
/* BEGIN HOMEPAGE VIDEO TOUT STYLES */

#homepageVideoTout
{
    margin-bottom: 30px;
    line-height: 20px;
    background-color: #eee;
    background-image: url(../images/general/cameraBkgr.gif); 
    background-repeat: no-repeat;
    background-position: right;
    height: 225px;
    display: inline-block;
}

#homepageVideoTout div.more-videos{
    font-size: .9em;
    margin-top: 10px;
}

#homepageVideoTout li
{
    line-height: 18px;
    margin-left: 15px;
}

/*END HOMEPAGE VIDEO TOUT STYLES
**************************************/

/* BEGIN LANDMARK PAGE STYLES
**************************************/
    
#landmark-shop{
}
    
/* END LANDMARK PAGE STYLES 
**************************************/

/* More Like This Feature 
**************************************/
.item-teaser
{
    margin-bottom: 2em;
    width: 220px;
}

    .item-teaser .thumb-container
    {
        float: right;
        text-align: center;
        width: 100px;
    }
    
        .item-teaser .thumb img
        {
            max-width: 100px;
        }
    
    .item-teaser .addToCart    
    {
        margin-top: 2em;
    }


/* ACCOUNT SECTION */

    .accountSection
    {
        padding: 10px;
    }
    
    .accountSection h2
    {
        color: #777;
        border-bottom: dotted 1px #bbb;
        margin-bottom: 4px;
        
    }
    
    .shipToStatesMyAccount{
        width: 150px;
        border: 1px #ddd solid;
        padding: 5px;
        margin-top: 20px;
    }
    
    .addressInfoMyAccount{
        width: 350px;
    }
    
    .myAccountEditButtons{
        margin-top: 10px;
        margin-bottom: 10px;
    }

/* Glossary 
***************************************/    
    #glossaryRelated
    {
        width: 200px; 
        float: right;
    }
    
    #glossaryEntryOfDay
    {
    }
                    	    
    .btnGlossarySearch, .txtGlossarySearch
    {
        float: left;
    }
    
    .glossary .search-container
    {
        margin-bottom: 60px;
    }

    
    .limitedQty
    {
        color: red;
    }

table.result td {
	border-bottom: solid 1px #ddd;
	padding: 20px 0px;
}

table.none
{
    border: none;
    padding: 1px;
}

    table.none td
    {
        border: none;
        padding: 0px;
    }

.centerImg{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.acImage{
    position: relative;
    left: -4px;
}

/* BEGIN WINE CLUBS STYLES */

#clubPage{
}

    #clubPage #introCopyContainer{
        width: 240px;
        float: left;
    }
    
    #clubPage #introImageContainer{
        float: right;
        margin-left: 30px;
        padding: 10px;
    }

    .clubLogo{
        position: relative;
        left: -15px;
        top: 5px;
        width: 5px;
    }

    #clubPage h3{
        margin-bottom: 20px;
    }
    
    #clubPage p{
        margin-bottom: 10px;
    }

    .clubDD{
        font-size: 16px;
        margin-bottom: 12px;
        padding: 3px;
    }

.img-copy-row .imgContainer
{
    width: 220px;
    float: left;
    text-align: center; 
}

    .img-copy-row img
    {
        width: 220px;
    }

    .img-copy-row
    {
        padding: 30px 0px;
    }        

    ul li.img-copy-row:first-child
    {
        border: 0;
    }
    
    ul li.img-copy-row{
        border-top: 1px dotted #aaa;
    }
        
        #clubPage .img-copy-row img
        {
            width: 160px;
        }

        .img-copy-row .copyContainer{
            float: left;
            width: 276px;
        }

            .img-copy-row .copyContainer li{
              margin-left: 0px;
              margin-bottom: 10px;
              list-style-position: outside;
            }
            
    #clubPage #policy{
        padding: 20px;
        margin-top: 40px;
        text-align: justify;
    }

    #clubPage #deliveryNote{
        border: 1px dotted #aaa;
        margin: 30 auto;
        padding: 20px;
        clear: both;
        margin-top: 20px;
        text-align: justify;
        width: 480px;
    }
    
/* END WINE CLUB STYLES */

.lblError
{
    position: relative;
    background-color: #fff;
    padding: 2px;
    width: 600px;
    color: #444;
}

.errorMessage
{
    color: Red;
}

div.break
{
    height: 20px;
}

.signInTxt
{
    padding-top: 5px;
}

/*Begin Log In & Create Accout Styles
**************************************************/
#log-in-container
{
    width: 500px;
}

#create-account-container
{
    float: right;
    padding: 30px;
    width: 320px;
}

.input-container
{
    margin-bottom: 18px;
}

/* BEGIN SHOPPING CART STYLES */

#shoppingcart{
}

    #shoppingcart h4.blue{
        margin-bottom: 6px;
    }

    .cart-table{
        width: 800px; 
        margin-bottom: 20px;
        margin-left: 50px;
    }
    
        #shoppingcart .cart-table tr{
            vertical-align: top;
        }
        
    #shoppingcart #header-row{
        border-bottom: #ddd thin dotted;
        text-transform: uppercase;
        color: #aaa;
        margin-top: 20px;
    }
    
    #shippingcart .alt-row{
        background-color: #eee;
    }
    
    #shoppingcart .item-meta{
        font-size: .8em;
        margin-top: 10px;
        color: #aaa;
        text-transform: none;
    }
      
        #shoppingcart .delivery-alert img{
            float: left;
            padding: 10px 20px 10px 10px;
        }
        
        #shoppingcart .delivery-alert .delivery-info
        {
            border-left: dotted 1px #ccc;
        }        

        #shoppingcart .shipping-info, #shoppingcart .delivery-info 
        {
            margin-bottom: 8px;
            padding: 12px;
        }
        
   #shoppingcart .item-image img
   {
        float: left; 
        width: 47px; 
        margin-right: 5px;
    }
    
        .cartItemName, .cartUnitType, .cartUnitPrice, .cartQty, .cartUnitTot, .cartRem
        {
            padding: 10px;
        }
        
        .cartItemName
        {
            width: 300px;
            text-align: left;
        }

        .cartUnitType
        {
            width: 100px;
            text-align: center;
        }

        .cartUnitPrice
        {
            width: 75px;
            text-align:center;
            vertical-align: top;
        }

        .cartQty
        {
            width: 50px;
            text-align: center;
            vertical-align: top;
        }

        .cartUnitTot{
            width: 90px;
            text-align: center;
            vertical-align: top;
        }

        .cartRem{
            width: 40px;
            text-align: center;
            vertical-align: top;
        }
    
    #shoppingcart tr.subtotal{
        vertical-align: top;
        background-color: #eee;
    }
    
        #shoppingcart tr.subtotal td{
            padding: 10px;
        }
        
    #shoppingcart tr.calculate-shipping
    {
        background-color: #eee;
        vertical-align: middle;
    }
    
        #shoppingcart tr.calculate-shipping td
        {
            padding: 10px;
        }
            
    #shoppingcart tr.total
    {
            background-color: #dedede;
    }
    
        #shoppingcart tr.total td
        {
            padding: 10px;
        }
    
    #shoppingcart td.extra{
    }
    
    #shoppingcart td.label{
        width: 80px;
        color: #555;
        text-transform: uppercase;
    }
    
    #shoppingcart td.cost, #shoppingcart td.label{
        font-size: 1.2em;
    }
    
    #shoppingcart td.cost{
        width: 80px;
    }
    
    #shoppingcart .shipping-method{
        border: 0px;
        padding: 4px;
        margin-left: 10px;
    }
        
    #shoppingcart tr.update-row{
        text-align: right;
    }
    
        #shoppingcart tr.update-row td{
            padding: 20px;
        }
    
    #shoppingcart .shipping.msg{
        color: #741f21;
    }
    
    #shoppingcart tr.update-row td{
        border-top: dotted 1px #ddd;        
    }    
    
    #shoppingcart #save-cart{
        float: right;
        background-color: #a5c8bd;
        width: 280px;
        height: 60px;
        padding: 10px;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.2em;
        padding-bottom: 5px;
    }
    
        #save-cart span{
            border-bottom: dotted 1px #ddd;
        }
        
        #save-cart .sign-in{
            margin-left: -20px;
            margin-top: 10px;
        }
        
        #save-cart .elephant{
            margin-top: -10px;
            float: right;
        }
    
    #shoppingcart .update-button{
        color: #fff;
        background-color: #000;
        text-transform: uppercase;
        padding: 5px 10px;
        border: none;
        letter-spacing: 1px;
    }
           
    #shoppingcart .checkout-button-container{
        display: block;
        text-align: right;
        width: 100%;
    }
    
    #shoppingcart .checkout-button
    {
        display: block;
        float: right;
        margin-bottom: 20px;
    }
        
        #shoppingcart #alertContainer .alert{
            padding: 10px;
            width: 500px;
            margin: 0 auto;
            border-top: dotted 1px #eee;
            border-bottom: dotted 1px #eee;
        }
    
    #shoppingcart .delivery-info-wrapper{
        clear: both;
        width: 100%;
        margin-top: 60px;
    }
        
        #shoppingcart .delivery-info-container{
            width: 26%;   
            padding: 20px 30px; 
            float: left;
        }
        
            #shoppingcart .delivery-info-container h4{
                border-bottom: dotted 1px #ccc;
                font-weight: normal;
                margin-bottom: 10px;
                padding-bottom: 3px;
                background-image: url(../images/general/purple-dot.png);
                background-repeat: no-repeat;
                text-indent: 28px;
                line-height: 26px;
            }
            
            #shoppingcart .delivery-info-container p{
                line-height: 1.6em;
            }
        
/* END SHOPPING CART STYLES */    

    .textCta
    {
        text-decoration: underline;
    }

    .packHeader
    {
       margin-bottom: 0px;
    }   
    
    .productBrowse
    {
        padding: 10px;
        margin-top: 20px;
    }

        .productBrowse a{
            color: #777;
        }

        .productBrowse a:hover{
            color: #dc4500;
            text-decoration: none;
        }

        .productBrowse table{
            border-spacing: 0px;
        }

        .productBrowse tr{
           vertical-align: top;
        }
            
        .productBrowse td{
            font-size: 14px;
            width: 210px;
            padding: 8px;
        }

        .productBrowse th{
            padding-top: 10px;
            padding-bottom: 2px;
            text-align: left;
        }
                
        .productBrowse td.one{
            }

        .productBrowse td.two{
            }

        .productBrowse td.three{
            }        

/*CHECKOUT f
****************************************/
    #orderConfirmation h2{
        border-bottom: solid 1px #ddd;
    }
    
    .checkout #navigationBar
    {
        display: none;
    }
    
    td.checkoutLeft{
        width: 200px;
    }
    
    .checkout aside
    {
        float: right;
        margin-bottom: 2em;        
        width: 300px;
    }

    .checkout aside ul.grid > li
    {
        padding: 16px;
    }
    
    .checkout aside ul.grid
    {
        margin-bottom: 1em;
    }

/* Checkout -Shipping
***************************************/
#saved-shipping-addresses
{
    max-width: 380px;
    padding: 12px;    
}
/*************************************/    
    .note
    {
        font-size: 10px;
        line-height: 1.6em;
        color: #888;
    }
            
        .noResults li 
        {
            margin-left: 30px;
        }
        
/* BEGIN FOOTER STYLES */
        
#footerContainer
{
    width: 100%;
    float: left;
    text-align: center; 
    background-image: url(../images/2011spring/bkgr_springFooter.gif);
    background-repeat: repeat-x;
    position: relative;
    z-index: 0;
    height: 300px;
    overflow: hidden;
    margin-top: 160px;
}

#footerContentContainer
{
    text-align: center;
}

#footer
{
    width: 999px;
    margin: 0 auto;
    background-image: url(../images/2011/bkgr_springFooterMiddle.gif);
    height: 180px;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 140px;
    z-index: 10;
    
}

    #footer a{
        color: #fff;
    }
    
    /* END FOOTER STYLES */
    
#lastItems{
    padding-top: 0px;
    padding-bottom: 20px;
}


    #lastItems .lastViewed
    {
        line-height: 2px;
        margin-bottom: 8px;
        padding-bottom: 8px;
    }

/* TASTING PAGE 
****************************************/

.tastingRow, .tastingRowAlt
{
    width: 100%;
}

.tastingRow
{
}

.tastingRowAlt
{
    background-color: #fff;
}

#tastingPage .date
{
    display: none;
}

#tastingPage .tasting-event-border
{
    border-bottom: solid 1px #ccc;
}

/********************************************/

.orderHistoryOrder, .orderHistoryOrderAlt
{
    line-height: 15px; 
    padding: 5px;
    margin-bottom: 20px;
}

.orderHistoryOrderAlt
{
    background-color: #eee;
}

.orderHistoryOrder .cartItemName, .orderHistoryOrderAlt .cartItemName
{
    width: 250px;
}

.orderHistoryLabelCol
{
    float: left; 
    width: 120px; 
    font-size: 8pt;
}

.orderHistoryValueCol
{
    float: left;  
    font-size: 8pt;
    width: 400px;
}

.ModalPopupBG
{
	z-index: 5000;
	background-color: #000;
	opacity: .70;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);  
	position: static;
	width: 100%;
	height: 100%;
   
}

.ModalPopup
{
	z-index: 0;
	position: relative;
	border: 10px solid #fff;
	background-color: #fff;
	width: 400px;  
}

#lblSearchString
{
    margin-top: 20px;
}

/* BEGIN NEWSLETTER STYLES */

#newsletter{
}

    .newsletterContent
    {
        padding: 10px;
    }

    #newsletterLauncher{
        text-align: center;
        margin-bottom: 30px;
    }
    
    #newsletter #newsletterCopyContainer{
        display: inline-block;
        width: 250px;
        text-align: justify;
        padding: 6px;
    }
    
    #newsletter #newsletterDownloadContainer{
        display: inline-block;
        width: 250px;
        padding: 10px;
        vertical-align: top;
        background-color: #eee;
        margin-left: 10px;
        text-align: center;
    }
    
        #newsletter #newsletterDownloadContainer p{
            margin-top: 20px;
            color: #555;
        }

.dailyFeaturesCopy, #acTout p
{
    line-height: 15px;
    font-size: 8pt;
}

/* BEGIN ASTOR CENTER EVENTS TOUT*/

#acTout
{
    display: inline-block;
    width: 335px;
}

    #acTout img
    {
        float: left;
        padding: 0px 10px 0px 0px;
    }

    span.title
    {
        color: #82b57d;
        font-size: 12pt;
    }

#acTout p
{
    margin-bottom: 10px;
}

/* END ASTOR CENTER EVENTS TOUT */

/*BEGIN NEWSLETTER PAGE */
.newsletterContent
{
    padding: 10px;
}

    .newsletterContent h1
    {
        color: #555;
        border-bottom: #ddd dotted 1px;
    }

.download
{
    padding: 5px;
    background-color: #e54800;
    font-style: italic;
    color: #fff;
}
/* END NEWSLETTER PAGE */

/*BEGIN REFINE SEARCH */

.refineSearch
{
    margin-top: 0px;
    color: #555;
    background-color: #e6e2d1;
    background-image: url(../images/general/searchPanelBackground.png);
    background-repeat: repeat-y;
    width: 188px;
    padding-left: 12px; 
    }
        
    .refineSearch h4
    {
        border-bottom: 1px solid #bbb;
        margin-top: 20px;
    }
    
.remove
{
    color: #5f191b;
}

/* END REFINE SEARCH */

.searchQuery 
{
    color: #5f191b;
}

.showingItems
{
    color: #555;
}

.inline-img
{
    margin: 0 2px;
    vertical-align: middle;
}

.searchTip
{
    color: #555;
}

.toolTip
{
    width: 400px;
    color: #555;
}

div#aqTip
{
    text-decoration: underline;
}

.aqTip
{    
}

.pictureFrame
{
    padding: 4px;
    border: solid 1px #ddd;
}

/* BEGIN GIFT CARD PAGE STYLES */

.giftCardContainer
{
    padding-top: 20px;
    text-align: center;
}

.giftCardAmountDD{
    font-size: 16px;
}

#giftCardBalanceCheck{
    margin-top: 20px;
    padding: 10px;
    border-top: dotted 1px #ddd;
    border-bottom: dotted 1px #ddd;
}

#giftCards .pictureFrame
{
    margin-right: 1em;
}

/* END GIFT CARD PAGE STYLES */

/* BEGIN EMAIL PAGE STYLES */

#emails h2, #post-emails h2{
    color: #000;
}

#emails #sign-up-form, #post-emails #sign-up-form{
    width: 484px;
    margin: 30px auto;
    background-color: #ecebd9;
    border: solid 1px #e2e3ca;
    border-top: solid 5px #e2e3ca;
    padding: 20px;
}       

    #emails #sign-up-form .form-column{
        width: 50%;
        float: left;
    }
    
    #emails #sign-up-form .tan{
        width: 200px;
        margin-bottom: 20px;
    }
    
    #emails #sign-up-form .btn{
        margin-top: 20px;
    }
    
    #emails #sign-up-form h3, #post-emails h3{
        color: #d95b43;
        font-size: 3em;
        line-height: 1em;
        margin-bottom: 20px;
        border-bottom: solid 1px #e2e3ca;
        padding-bottom: 5px;
    }

        #emails #sign-up-form h4{
        color: #d95b43;
        font-size: 2.4em;
        line-height: 1em;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }

.videoHolder
{
    border-bottom: solid 1px #ddd;
    padding: 20px 0px;
}

#emails .pictureFrame
{
    float: left;
}

    #emails .pictureFrame img
    {
        width: 200px;
    }



/* END EMAIL PAGE SIZES */

/* EMAIL SIGN UP LANDING PAGE
*********************************************************/
    #post-emails #sign-up-form{
        text-align: center;
    }

        #post-emails #sign-up-form img{
            padding: 10px;
        }

    #post-emails .section{
        padding: 20px;
        float: left;
        width: 39%;
        margin: 10px;
    }
    
        #post-emails .section a{
            color: #ecebd9;
            text-decoration: none;
        }

/* Account Maintenance Styles
*****************************************************/
#accountNav{
    position: absolute;
    left: 440px;
    font-size: 14px;
    border-left: dotted #ddd 1px;
    border-bottom: dotted #ddd 1px;
    padding: 10px;
}

.accountMaintenanceSection{
    padding-top: 20px;
    width: 420px;
}

    .accountMaintenanceSection td{
        width: 150px;
    }

.accountMaintenanceIntro{
    width: 400px;
    text-align: justify;
}

#deliveryInfo p{
    padding-top: 0px;
    margin-left: 0px;
}

#deliveryInfo .extraCopyContainer{
    padding: 20px;
    margin-top: 20px;
}


#deliveryInfo h3{
    margin-bottom: 10px;
}

/* BEGIN shop HOURS STYLES */

#shopHours{
}

    #shopHours li{
        list-style-position: inside; 
    }
    
    #shopHours .contentContainer {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: solid 1px #eee;
        clear: both;
    }
    
    #shopHours .copy
    {
        float: left;
        padding: 24px;
        width: 250px;
    }
    
    #shopHours table tr td
    {
        padding: 4px;
    }
    
    #shopHours #address, #shopHours #directionsCopy, #shopHours #contact{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #shopHours #address, #shopHours #directionsCopy{
        border-bottom: solid 1px #eee;
    }
    
    #shopHours #shopHoursContainer{
        text-align: center;
    }
    
    #shopHours #googleMapContainer{
        margin-bottom: 30px;
        margin-top: 30px;
    }
        
        #subwayDirectionsContainer .subway{
            float: left;
            padding: 10px 30px;
            text-align: center;
            width: 200px;
        }
        
            .subway img{
                padding: 5px;
                width: 50px;
            }
    
    #shopHours #specialHoursContainer{
        margin-top: 20px;
    }

        #specialHoursContainer td{
            border: solid 1px #eee;
            padding: 3px;
        }
        
     #shopHours .shop-info img
     {
         float: left;
         width: 200px;
     }   

/* END shop HOURS STYLES */

#privacyPolicy p, #contactUs p{
    margin-bottom: 20px;
    text-align: justify;
}

/* BEGIN PRODUCT THUMBNAIL STYLES */

.thumbnail{
    max-width: 40px; 
    max-height: 40px;
}

.thumbnailHolder{
    float: left;
    width: 60px;
    text-align: center;
}

    .thumbnailHolder span{
        font-size: 10px;
        margin-top: 0px;
    }

#thumbnails{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 15px;
}

/* BEGIN TUESDAYS STYLES */

#tuesdaySale{
    padding-top: 20px;
    padding-bottom: 40px;
}

    #tuesdaySale h2{
        color: #888;
        margin-bottom: 10px;
    }
    
    #tuesdaySale #mainImageContainer{
        text-align: center;
        margin-bottom: 40px;
    }

    #tuesdaySale #leftColumn{
        width: 330px;
        padding: 0px 20px;
        float: left;    
    }

    #tuesdaySale #rightColumn{
        width: 180px;
        padding: 0px 20px;
        float: left;
    }

        #tuesdaySale #leftColumn #upcomingSales{
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

            #tuesdaySale #upcomingSales ul{
                 list-style-type: none;
            }

                #upcomingSales li{
                    margin-top: 10px;
                    margin-bottom: 20px;
                    padding: 10px 10px 10px 80px;
                    height: 49px;
                    background-image: url(../images/tuesday-sale/img_tuesday-sale-region-background.gif);
                    background-repeat: no-repeat;
                    background-color: #eee;
                }
                
                    #upcomingSales li .date{
                        text-transform: uppercase;
                        color: #888;
                    }
                    
                    #upcomingSales li .region{
                        text-transform: uppercase;
                        font-size: 2em;
                        line-height: 1em;
                    }

    #tuesdaySale #copy{
        margin-top: 20px;
    }

        #tuesdaySale #copy p{
            margin-bottom: 10px; 
        }
        
        #tuesdaySale #copy ul{
            padding-left: 10px;
            list-style-position: inside;
        }

    #tuesdaySale #leftColumn #getReminders{
        margin-top: 20px;
    }

        #tuesdaySale #getReminders ul{
             list-style-type: none;
             border-top: 1px #eee solid;
             padding-top: 20px;
             padding-bottom: 20px;
             border-bottom: 1px #eee solid;
        }

        #tuesdaySale #getReminders li{
            display: inline;
        }
        
            #getReminders li .reminderContainer{
                padding: 0px 14px;
                text-align: center;
                display: inline-block;
            }

/* END TUESDAYS STYLES */

/* BEGIN ERROR PAGE STYLES */

#errorPage{    
}

    #errorPage #mainImageContainer{
        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }

    #errorPage .halfPageColumn{
        width: 360px;
        float: left;
        padding: 0px 60px;
    }
    
        #errorPage .halfPageColumn ul{
            padding-left: 10px;
        }
        
        #errorPage .halfPageColumn p, #outOfStockPage p{
            margin-bottom: 10px;
        }
        
        #errorPage #reasons{
            color: #777;
            margin-top: 30px;
            padding: 10px 10px;
            border-top: dotted 1px #ddd;
            border-bottom: dotted 1px #ddd;
        }
    
    #errorPage h1{
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #errorPage h2{
        margin-bottom: 10px;
        font-size: 1.8em;
    }
    
    #errorPage h3{
        font-weight: normal;
        margin-bottom: 10px;
    }
    
/* END ERROR PAGE STYLES */

/* BEING OUT OF STOCK PAGE STYLES */

#outOfStockPage{
    font-size: 1.2em;
    padding-top: 30px;
}

    #outOfStockPage h1{
        text-align: center;
        letter-spacing: .04em;
        text-transform: none;
        color: #ccc;
    }
    
    #outOfStockPage .copyContainer{
        padding: 20px 40px;
        text-align: center; 
    }
    
    #outOfStockPage #mainImageContainer{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

/* END OUT OF STOCK PAGE STYLES */

/* BEGIN VIDEO PAGE STYLES */

    #videoGallery .videoCopy{
        margin-left: 10px;
        margin-top: 20px;
    }

/* END VIDEO PAGE SYLES */

/* BEGIN CATERING PAGE STYLES */

#cateringPage{
}

    #cateringPage li{
        list-style-position: inside;
        margin-left: 10px;
    }
    
    #cateringPage #mainImageContainer{
        width: 100%;
        text-align: center;
    }

    #cateringPage #copyContainer{
        margin-top: 20px;
        width: 250px;
        text-align: justify;
    }

    #cateringPage .featureList{
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
        margin-top: 20px;
    }
    
        #cateringPage .featureList li{
            display: inline-block;
            width: 100px;
            text-align: center;
            padding: 5px;
            line-height: 1.2em;
            color: #888;
            vertical-align: top;
        }

    #cateringPage #greatFor{
        float: right;
    }
    
    #cateringPage h2#contact{
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: .06em;
    }
        
/* END CATERING PAGE STYLES */

/*FAQ Page
********************************************/
#faq-nav
{
    display: none;
}

.hide
{
    display: none;
}

#faq-body div
{
    border-bottom: solid 1px #ccc;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#faq-body div:last-child
{
    border-bottom: none;
}

#CB_ImgContainer
{
    overflow: hidden;
    overflow-x: hidden;
    padding: 30px;
}

.rssContentContainer
{
    padding: 30px;
}

/* Producer Profiles
********************************************/
#producer-profile .profileImg
{
    float: right;
    margin: 0px 30px 30px 0px;
    width: 200px;
}

#producer-profile #topInfo
{
    float: left;
    width: 280px;
}


#producer-profile #shortStats
{
    border-top: 3px double #ccc;
    border-bottom: 3px double #ccc;
}

    #producer-profile #shortStats td
    {
        padding: 2px 4px;
    }

#producer-profile #bioContainer
{
    clear: both;
}

/* RSS Feed Styles
*************************************************/

.rss-feed-container, .new-arrivals-container
{
}

.teaser-post
{
    margin-bottom: 30px;
}

    .teaser-post img.attachment-thumbnail
    {
        margin-right: 12px !important;
    }

.rss-feed-container
{
    margin-top: 12px;
}

/* New Arrivals Table
*************************************************/
.new-arrivals-table
{
    border-spacing: 4px 4px;
    width: 100%;
}

    .new-arrivals-table td
    {
        padding: 6px;
    }
    
    .new-arrivals-table td.itm
    {
        width: 70%;
    }

/* Shipping Alerts
**************************************/    
#shipping-alert
{
    display: block;
    padding: 10px;
    border: solid 1px #ddd;
}

    #shipping-alert h2
    {
        padding: 4px;
        border: solid 1px #ddd;
        text-align: center;
    }
    
/* Hub
*************************************************/ 
.hub .container, .checkout .container
{
    margin-bottom: 30px;
}

ul.grid li
{
    margin-bottom: 8px;
    margin-right: 12px;
    padding: 0px;
}

ul.grid li a
{
    display: inline-block;
    padding: 10px 0px;
    text-align: center;
    width: 112px;
}

/* Resources
*************************************************/ 
.logo-option, .logo-option img
{
    width: 200px;
}

.logo-option
{
    float: left;
    margin-right: 24px;
    margin-bottom: 30px;
}

.logo-option img
{
    display: block;
    margin-bottom: 6px;
}

@media all and (min-width: 1291px)
{
    .flag
    {
        display: block;
    }
    
    .mini-flag
    {
        display: none;
    }

}

@media all and (max-width: 1290px)
{
    .flag
    {
        display: none;
    }
    
    .mini-flag
    {
        display: block;
    }
    
}

/* Large desktop */
@media (min-width: 1200px)   
{
    .gutter
    {
        margin-left: 30px;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }